In [119]:
import pandas as pd
from pathlib import Path

In [120]:
filePath = Path("budget_data.csv")

In [121]:
pybank_df = pd.read_csv(filePath)

In [122]:
pybank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [123]:
pybank_df.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [124]:
#this is the total number of months in the dataset

In [125]:
monthsInDs = (len(pybank_df))

In [225]:
#total amount of profit and loss

In [226]:
Profit_Losses = 'Profit/Losses'
PAndL_sum = pybank_df['Profit/Losses'].sum()
print(PAndL_sum)

38382578

In [130]:
#The greatest increase in profits (date and amount) over the entire period.

In [163]:
pybank_df.max()

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [212]:
max_value = pybank_df.max(numeric_only=int)              #greatest profit is 1170593
print(max_value)

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [ ]:
#The greatest decrease in losses (date and amount) over the entire period

In [214]:
min_value = pybank_df.min(numeric_only=int)                    #greatest loss is -1196225
print(min_value)

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [233]:
#The average of the changes in Profit/Losses over the entire period.

In [252]:
pybank_df.mean(skipna=True)

/var/folders/4w/myhsr6pn2vv2hkxph3y5dwt80000gn/T/ipykernel_60382/3463950643.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pybank_df.mean(skipna=True)

Profit/Losses    446309.046512
dtype: float64

In [253]:
print('Financial Analysis')
print('---------------------')
print(f'total months: {monthsInDs}')
print(f'total profit/losses: {PAndL_sum}')
print('average change in proft/losses:  446309.046512')
print('greatest profit: 1170593')
print('greatest loss: 1170593')

Financial Analysis
---------------------
total months: 86
total profit/losses: 38382578
average change in proft/losses:  446309.046512
greatest profit: 1170593
greatest loss: 1170593